body {
  background-color: #30475e;
  color: #222831;
  line-height: 1;
}

p {
  font-size: 0.75rem;
  margin-bottom: 0;
}
h6 {
  margin-bottom: 0;
}
.box {
  width: 320px;
  height: 600px;
  background-color: #dddddd;
  border-radius: 50px;
  border: #222831 10px solid;
  margin: 75px auto;
  padding: 20px;
}

.notch {
  background-color: #222831;
  width: 160px;
  height: 25px;
  border-radius: 75px;
  position: absolute;
  top: 75px;
  right: 640px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.mid {
  display: flex;
  justify-content: left;
  margin: 25px auto 15px;
}
.pop {
  position: relative;
  left: 25px;
  bottom: 5px;
}
.inside {
  display: flex;
  justify-content: space-evenly;
}
.grey {
  color: grey;
}
.line {
  display: flex;
  justify-content: space-between;
}
